<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading" >Why Choose Us</p>
      {{!-- <p>Why Choose Us</p> --}}
      <div class="row">
               <div class="col-md-6">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            {{!-- <img src="/images/card1.png" alt=""> --}}
                        </div>
                            <h4>SEO</h4>
                            <p>We provide you with a wide range of Search Engine Optimization Techniques </p>
                    </div>
                </div>
               </div>
                    <div class="col-md-6">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                        </div>
                            <h4>Web/App Development</h4>
                            <p>A wide range of settings to customize your website/app</p>
                    </div>
                </div>
               </div>
                {{!-- <div class="col-md-4">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/.png" alt="">
                        </div>
                            <h4>Speedup</h4>
                            <p>We provide you with a wide range of settings to customize </p>
                    </div>
                </div>
               </div> --}}
                <div class="col-md-4">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/AgyneKA.png" alt="">
                        </div>
                            <h4>Expert Solution</h4>
                            <p>We provide you with best services by a team of experienced professionals</p>
                    </div>
                </div>
               </div>
            
 {{!-- <div class="row">
<h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading" >grow your business with us</p>
 </div> --}}
      
                <div class="col-md-4">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                        </div>
                            <h4>Efficiency</h4>
                            <p>On time delivery with infinite number of edits at lowest cost </p>
                    </div>
                </div>
               </div>
                <div class="col-md-4">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                        </div>
                            <h4>SSL secured</h4>
                            <p>We respect your privacy and ensure that your data is secure</p>
                    </div>
                </div>
               </div>
           
               
        </div>
        </div>
        </div>
        </div>